{% extends 'base/base.html' %}

{% block content %}

<table class='table table-bordered'>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre corto</th>
            <th>Pais</th>            
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for data in object_list %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.nom_corto }}</td>
            <td>{{ data.pais }}</td>            
            <td>
                <a class="btn btn-primary" href="{% url 'edit_pais' data.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'delete_pais' data.id %}">Eliminar</a>
            </td>
        </tr>
            {% endfor %}

        {% else %}
            <h1>No hay registros de paises</h1>

        {% endif %}
    </tbody>
</table>

<div class="col-md-12 text-center">     
    <a class="btn btn-info" href="{% url 'alta_pais' %}">Agregar</a>
</div>

{% endblock %}