{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre Corto</th>
			<th>Municipio</th>
		</tr>
	</thead>
	<tbody>
	{% if object_list %}
		{% for data in object_list %}		
		<tr>
			<td>{{ data.id }}</td>
			<td>{{ data.nom_corto }}</td>
			<td>{{ data.estado }}</td>
			<td>
				<a class="btn btn-primary" href="">Editar</a>
				<a class="btn btn-danger" href="">Eliminar</a>

			</td>
		</tr>
		{% endfor %}
	{% else %}
		<h1>No hay registros de Municipios</h1>
	{% endif %}
	</tbody>
</table>

<div class="col-md-12 text-center">
	<a class="btn btn-info" href="{% url 'alta_municipio' %}">Agregar</a>
</div>

{% endblock %}